<div data-search-tracks-target="list">
  <% if @tracks.present? %>
    <ul>
    <% @tracks.each do |track| %>
      <li class="list-group-item">
      <div class="card track-card border-0">
        <div class="card-body">
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/<%= track.id %>?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
          <div>
          <%= link_to "That's the vibe!", { controller: 'tracks', query: track.id }, class: 'pink-btn-link' %>
          </div>
        </div>
      </div>
      </li>
    <% end %>
    </ul>
  <% end %>
</div>
