<div data-search-tracks-target="list">
  <% if @tracks.present? %>
    <ul>
    <% @tracks.each do |track| %>
      <%= link_to({ controller: 'tracks', query: track.id }) do %>
        <div class="card track-card-search">
          <div class="card-body card-body-search">
              <%= image_tag (track.album.images.first["url"]), class: "cover" %>
              <div class="text-title">
                <%= "#{track.name}"%>
              </div>
              <div class="text-artist">
                <%= "#{track.artists[0].name}" %>
              </div>
          </div>
        </div>
      <% end %>
    <% end %>
    </ul>
  <% end %>
</div>
