<div class="container">
  <div class="row justify-content-center">

  <div class="container-header-flex">
    <div class="title">
      <h1>Your Results</h1>
    </div>
    <div class="create-playlist">
      <%= link_to 'Refine Your Search', 'javascript:history.go(-1);', class: "pink-btn-link" %>
    </div>
  </div>

  <h3>The Vibe</h3>

    <ul>
      <li class="list-group-item">
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/<%= params[:spotify_id] %>?utm_source=generator" width="100%" height="200" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
      </li>
    </ul>

  <h3>Tracks based on your pick</h3>

    <ul>
      <% @recommendations.tracks.each do |track| %>
        <% if track.id != params[:spotify_id] %>
          <li class="list-group-item">
          <div class="card track-card border-0">
            <div class="card-body d-flex">

              <div class="flex-grow-1">
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/<%= track.id %>?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
              </div>

              <div class="dropdown p-2 align-self-center">
                <button class="btn all-playlists-btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Add to <br>Playlist
                </button>
                <ul class="dropdown-menu">
                  <%= render "playlists/add_one", playlists: @playlists, track: track %>
                </ul>
              </div>

            </div>
          </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
