<div class="container">
  <div class="row justify-content-center">

  <div class="container-header-flex">
    <div class="title">
      <h1>Your Results</h1>
    </div>
    <div class="add-reference-playlist">
      <div class="dropdown p-2 align-self-center">
      <button class="btn icon-btn" id="add-to-playlist" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-circle-plus"></i>
      </button>
      <ul class="dropdown-menu">
        <%= render "playlists/add_ref", playlists: @playlists, track: @track %>
      </ul>
    </div>
    </div>
  </div>

  <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/<%= @track.id %>?utm_source=generator" width="100%" height="200" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>


  <div class="" data-controller="sliders" data-sliders-id-value="<%= @track.id %>">
    <div id="range_sliders">
      <%= render 'range_sliders', track: @track %>
    </div>
    <div id="search_results" data-sliders-target="results">
    </div>
  </div>

</div>
