<div class="container">
  <div class="row justify-content-center">
    <div data-controller="search-tracks">
    <%= form_with url: search_path, method: :get, html: {data: {search_tracks_target: "form"}} do |f| %>
        <%= f.text_field :query,
                          class: " d-flex form-control search-form",
                          id: "search-form-search",
                          value: params[:query],
                          data: {
                            search_tracks_target: "input",
                            action: "keyup->search-tracks#update"
                          }
                          %>
      <% end %>
      <%= render "list", tracks: @tracks %>
    </div>
  </div>
</div>
