body {
  background-color: #181A23;
  margin:0px;
  padding: 0px;
}

body.home {
  background-image: url("bg-ontrack2");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  width: 70%;
  margin-top: 50px;
}

// .banner {
//   background-image: url("bg-ontrack");
//   background-color: #cccccc;
// }

  //   background:
  //     linear-gradient(to bottom, #181A23 0%, rgba(24, 26, 35, 0) 5%),
  //     linear-gradient(to top, #181A23 0%, rgba(24, 26, 35, 0) 5%),
  //     linear-gradient(to left, #181A23 0%, rgba(24, 26, 35, 0) 5%),
  //     linear-gradient(to right, #181A23 0%, rgba(24, 26, 35, 0) 5%),
  //     url('https://i.imgur.com/Iv4no8m.png') center/cover no-repeat;
  //   height: 100vh;
  //   width: 100%;
  //   background-size: cover;
  //   background-position: center;
  //   margin: 0;
  //   padding: 0;
  // }


html, body {
  margin: 0;
  padding: 0;
}

#search-form-home {
  margin-top: 15%;
}

#search-form-search {
  border-radius: 25px;
  border: none;
  color: rgba(255, 255, 255, 0.6);
  background-color: #242632;
  width: 100%;
  padding: 6px 16px;
  font-size: 15px;
  line-height: normal;
  box-shadow: 0 0 2px #777a91;
}

#search-form-search:focus {
  outline: none;
  color: white;
  background-color: #242632;
}

.position-relative {
  width: 100%;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 33%;
  transform: translateY(-50%);
  cursor: pointer;
}

.fa-solid.fa-magnifying-glass {
  font-size: 20px;
  color:#D1166B;
}

.title-text {
  font-weight: 100;
}
