// Specific CSS for your home-page
body {
  background-color: #181A23;
}

.container {
  width: 70%;
  margin-top: 50px;
}

#search-form-home {
  margin-top: 30%;
}

#search-form-search {
  border-radius: 25px;
  border: none;
  color: black;
  background-color: #242632;
}

#search-form-search:focus {
  outline: none;
  border: 2px solid #181A23;
  background-color: white;
}


.position-relative {
  width: 100%;
}

.search-input {
  width: 700px;
  padding: 6px 16px;
  font-size: 15px;
  line-height: normal;
  border-radius: 5px;
  background-color: #242632;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 33%;
  transform: translateY(-50%);
  cursor: pointer;
}

.fa-solid.fa-magnifying-glass {
  font-size: 22px;
  color:#D1166B;
}
