// Specific CSS for your home-page
body {
  background-color: #181A23;
}

.container {
  width: 70%;
  margin-top: 50px;
}

#search-form-home {
  margin-top: 30%;
}

#search-form-search {
  border-radius: 25px;
  border: none;
}
