<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: root_path, method: :get, class: "d-flex flex-column align-items-center search-form", id: "search-form-home" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control mb-4",
              placeholder: "Search for a track/artist"
          %>
        <%= submit_tag "Search", name: "", class: "pink-btn" %>
      <% end %>
    </div>
   </div>
</div>
