.pink-btn {
  width: 240px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 54px;
  color: white;
  background: linear-gradient(180deg, #FF2688 0%, #D1166B 100%);
  border: none;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.pink-btn-link {
  width: 240px;
  height: 48px;
  padding: 10px 20px;
  // flex-shrink: 0;
  border-radius: 54px;
  color: white;
  background: linear-gradient(180deg, #FF2688 0%, #D1166B 100%);
  border: none;
  text-decoration: none;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: block;
  margin: 10px auto;
}

.btn-pink {
  height: 40px;
  width: 80px;
}

.pink-btn:hover,
.pink-btn:active {
  transform: scale(1.1);
}

#login-btn {
  height: 40px;
  width: 80px;
}

.all-playlists-btn {
  // width: 600px;
  height: 48px;
  // padding: 12px 120px;
  padding-top: 12px;
  // flex-shrink: 0;
  // border-radius: 54px;
  color: white;
  border: none;
  text-decoration: none;
}

.create-playlist-btn {
  width: 180px;
  height: 48px;
  // padding: 12px 20px;
  padding-top: 12px;
  // flex-shrink: 0;
  // border-radius: 54px;
  color: white;
  border: none;
  text-decoration: none;
}

.icon-btn {
  background: none;
  border: none;
  color: #ABADB3;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
}

.icon-btn:hover {
  color: white;
}
