.pink-btn {
  width: 240px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 54px;
  color: white;
  background: linear-gradient(180deg, #FF2688 0%, #D1166B 100%);
  border: none;
}

.pink-btn-link {
  width: 240px;
  height: 48px;
  padding: 10px 20px;
  // flex-shrink: 0;
  border-radius: 54px;
  color: white;
  background: linear-gradient(180deg, #FF2688 0%, #D1166B 100%);
  border: none;
  text-decoration: none;
  display: block;
  margin: 10px auto;
  width: fit-content;
}

.btn-pink {
  height: 40px;
  width: 80px;
}

.pink-btn:hover,
.pink-btn:active {
  transform: scale(1.1);
}

#login-btn {
  height: 40px;
  width: 80px;
}
