.pink-btn {
  width: 240px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 54px;
  color: white;
  background: linear-gradient(180deg, #FF2688 0%, #D1166B 100%);
  border: none;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.pink-btn-link {
  width: 240px;
  height: 48px;
  padding: 10px 20px;
  border-radius: 54px;
  color: white;
  background: linear-gradient(180deg, #FF2688 0%, #D1166B 100%);
  border: none;
  text-decoration: none;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: block;
  margin: 10px auto;
}

.btn-pink {
  height: 40px;
  width: 80px;
}

.pink-btn:hover,
.pink-btn:active {
  transform: scale(1.1);
}

#login-btn {
  height: 40px;
  width: 80px;
}

.all-playlists-btn {
  // width: 600px;
  height: 48px;
  // padding: 12px 120px;
  padding-top: 12px;
  // flex-shrink: 0;
  // border-radius: 54px;
  color: white;
  border: none;
  text-decoration: none;
  margin-right: 15px;
}

.create-playlist-btn {
  width: 120px;
  height: 48px;
  // padding: 12px 20px;
  padding-top: 12px;
  // flex-shrink: 0;
  // border-radius: 54px;
  color: white;
  border: none;
  text-decoration: none;
  margin-right: 10px;
}

.icon-btn {
  background: none;
  border: none;
  color: #ABADB3;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
}

.icon-btn:hover {
  color: white;
}

#password {
  width: 330px;
  margin: 5px 0px 5px 0px;
}

#password:hover {
  color: white;
  transform: scale(1.02);
}

.pink-btn-add-to-spotify {
  width: 200px;
  height: 48px;
  padding: 10px 20px;
  // flex-shrink: 0;
  border-radius: 54px;
  color: white;
  background: linear-gradient(180deg, #FF2688 0%, #D1166B 100%);
  border: none;
  text-decoration: none;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: block;
  margin-bottom: 25px;
  margin-top: 25px;
  margin-left: 39px;
}

.pink-btn-add-to-spotify:hover {
  box-shadow: 0px 0px 10px #FF2688;
  cursor: pointer;
}
