.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.items-navbar {
  display: grid;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-decoration: none;
}

img {
  width: 100px;
}
