.sliders-container {
  background-color: #2C3140;
  padding: 40px;
}

.sliders-mini-container {
  padding: 20px 150px;
}

.slider-item {
  display: flex;
  margin-top: 15px;
}


.faders-label {
  display: flex;
  color: white;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex: 1 200px;
}

.faders-range::-webkit-slider-runnable-track {
  display: flex;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 2px;
  background: #ABADB3;
}

.faders-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 12px;
  width: 12px;
  background-color: #D61C70;
  border-radius: 50%;
  border: none;
  transition: .2s ease-in-out;
}
