.track-card-search {
  width: auto;
  height: 80px;
  background: linear-gradient(180deg, #3D4354 0%, #2A2E3C 100%);
  border-radius: 5px;
  margin-bottom: 5px;
  // margin-right: 15px;
  margin-left: 10px;
}

.card-body-search {
  display: grid;
  grid-template-columns: 80px 270px 210px;
  justify-content: center;
  align-items: center;
}

.cover {
  width: 50px;
  height: 50px;
  // border-radius: 5px;
  justify-content: center;
}

.text-title {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 250px;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;
}


.text-artist {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;
}

// .text-artist:hover {
//   color: white;
// }

// .text-title:hover {
//   color: white;
// }

.track-card-search:hover {
  background: linear-gradient(180deg, #FF2688 0%, #D1166B 100%);
  box-shadow: 0px 0px 10px #FF2688;
  cursor: pointer;
}
