#forgot-password {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

#forgot-password:hover {
  color: white;
}

#signup {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

#signup:hover {
  color: white;
}

#login {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

#login:hover {
  color: white;
}

.minimum-characters {
  color: white;
}
